---
layout: base
title: Deine deutsche Community zum VueJS
description: Alles rund um VueJS auf deutsch - Tutorials · Artikel · News · Workshops.
permalink: /
---
<div class="header header-homepage d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-3 col-sm-3 text-center mx-auto my-auto">
        <img class="img img-fluid mx-xl-4" alt="VueJS &amp; TypeScript Intensiv-Schulung" src="/assets/img/vuejs-logo.svg" title="VueJS.DE Logo">
      </div>
      <div class="col-sm-9 pt-3">
        <div class="pl-lg-4 mr-lg-4">
          <p class="lead align-self-center text-muted">
            Alle Infos zu VueJS auf Deutsch!
          </p>
          <h1 class="header-homepage-title">Alles rund um VueJS</h1>
          <p class="pt-2 pt-md-4">
            <a href="/tutorials/" class="btn btn-outline-secondary mr-2">Mit einem Tutorial starten &rsaquo;</a>
            <a href="/schulungen/" class="btn btn-success">Schulung buchen &rsaquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Deine VueJS Community</h2>
      <p>
        Wir bieten euch hier Tutorials, Artikel und <a href="schulungen/"> Schulungen</a> rund um das VueJS Framework.
        Gestartet durch unsere Begeisterung für die modernen Möglichkeiten der Webentwicklung hat sich mittlerweile eine ganze Community dazu entwickelt.
        Es gibt bereits viele <a href="meetups/">Meetups</a> zu diesem Thema.
        Regelmäßig werden neue Bücher und Artikel zu dem Thema auf Deutsch veröffentlicht.
        Auch auf Konferenzen ist das Thema nicht mehr wegzudenken.
      </p>

      <p>
        Wir sind eine offene Community die jeden Willkommen heißt der sich einbringen möchte oder eine Frage hat.
        Der meiste Austausch passiert dabei über unseren <a href="/slack" rel="noopener nofollow">Community Slack</a> mit fast 2000 Mitgliedern.
        Du hast spannende Themen über welche du dich austauschen willst oder sogar ein Artikel schreiben möchtest?
        Dann bist du hier genau richtig. Lasst uns voneinander lernen und die Herrausforderungen in unseren Projekten gemeinsam meistern.
      </p>
    </div>
  </div>
</div>

<main class="container">
  <section class="py-5">
    <h2>Community</h2>
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="card h-100">
          <a class="c-img-post" style="height: 150px; background-image: url('/assets/img/meetups.png');" href="/meetups/">
            <span class="c-post-categories">
              <span class="text-uppercase">Deutschland</span>
              <span class="ml-1 mr-1">•</span>
              <span class="text-uppercase">Österreich</span>
              <span class="ml-1 mr-1">•</span>
              <span class="text-uppercase">Schweiz</span>
            </span>
          </a>
          <a class="card-body text-dark" href="/meetups/">
            <div class="text-muted">Meetups in der DACH Region</div>
            <span class="font-weight-bold">
              Finde dein VueJS Meetup in deiner nähe oder gründe selbe eins!
            </span>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="card h-100">
          <a class="c-img-post" target="_blank" style="height: 150px; background-image: url('/assets/img/slack.png');" href="/slack" rel="noopener nofollow">
            <span class="c-post-categories">
              <span class="text-uppercase">Hilfe</span>
              <span class="ml-1 mr-1">•</span>
              <span class="text-uppercase">Austausch</span>
              <span class="ml-1 mr-1">•</span>
              <span class="text-uppercase">Lernen</span>
            </span>
          </a>
          <a class="card-body text-dark" href="/slack" rel="noopener nofollow">
            <div class="text-muted">Dein VueJS Slack auf Deutsch</div>
            <span class="font-weight-bold">
              Tausche dich mit anderen über Herausforderungen, Lösungen und Events aus
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <h2>Die neusten Artikel</h2>
    <div class="row">
      {% for post in site.posts limit:6 %}
      <div class="col-sm-6 col-md-4 col-lg-4 mb-4">
        {% include _post_card.html %}
      </div>
      {% endfor %}
    </div>
  </section>
</main>