---
layout: base
title: Vue.js & TypeScript Intensiv-Schulung (3 Tage)
description: Du möchtest Vue.js in nur 3 Tagen lernen? Besuche unsere Seite und erfahre mehr über unsere Intensiv-Schulung!
permalink: /schulungen/nuxtjs-starter/
---

<main role="main">
  {% include_relative nuxtjs-starter/_00_header.html %}
  {% include_relative _01_clients_small.html %}
  {% include_relative nuxtjs-starter/_05_benefits.html %}
  {% include_relative nuxtjs-starter/_08_topic-overview.html %}
  {% include_relative nuxtjs-starter/_20_testimonials.html %}
  {% include_relative nuxtjs-starter/_10_agenda.html %}
  {% include_relative nuxtjs-starter/_22_cost_savings.html %}
  <!--{% include_relative nuxtjs-starter/_50_ratings.html %}-->
  {% include_relative nuxtjs-starter/_25_trainers.html %}
  {% include_relative nuxtjs-starter/_40_requirements.html %}
  {% include_relative nuxtjs-starter/_45_included_benefits.html %}
  {% include_relative nuxtjs-starter/_90_questions.html %}
  {% include_relative nuxtjs-starter/_95_remote-workshops.html %}
  {% include_relative _99_booking.html
    topic="Vue.js & TypeScript"
    duration="3"
    slug="vuejs-typescript"
    logo="vue-typescript-schulung"
    icon="💚"
    data_key="vuejs-intensiv"
  %}
</main>
