---
layout: schulungen
header: Unsere Schulungen
title: Unsere Schulungen
permalink: /schulungen/
noindex: true
---

<p class="lead mb-4">
    Der beste Weg mit einem neuen Framework zu starten!
</p>

<div class="row row-cols-1 row-cols-md-2 | g-4 mb-5 container">
    <!--{% include_relative _schulung.html
    permalink="vuejs-introduction"
    title="Einführung in Vue 3"
    subtitle="1-Tages-Workshop"
    description="In diesem Workshop betrachten wir die neuen Features und Änderungen von Vue.js 3.0 und auch die experimentellen Features der kommenden Version 3.1:"
    logo="vue-typescript-schulung"
    pattern="1"
    %}-->

    {% include_relative _schulung.html
    permalink="vuejs-javascript"
    title="Vue & JavaScript"
    subtitle="Intensiv Schulung"
    description="Der beste Weg mit Vue zu starten! Unsere Schulungen machen dich fit für den produktiven Einsatz von Vue
    und JavaScript. Egal ob Vor Ort oder Remote in unserem Virtual Classroom."
    logo="vue-javascript-schulung"
    pattern="1"
    %}

    {% include_relative _schulung.html
    permalink="vuejs-typescript"
    title="Vue & TypeScript"
    subtitle="Intensiv Schulung"
    description="Der beste Weg mit Vue zu starten! Unsere Schulungen machen dich fit für den produktiven Einsatz von Vue
    und TypeScript. Egal ob Vor Ort oder Remote in unserem Virtual Classroom."
    logo="vue-typescript-schulung"
    pattern="1"
    %}

    {% include_relative _schulung.html
    permalink="vuejs-composition-api"
    title="Composition API"
    subtitle="Schulung"
    description="Mit der Composition API hat sich viel in Vue 3 verändert. Lerne hier alles was sich geändert hat und
    wie du dank der Composition API sich wiederholende Code-Fragmente aus einer Komponente herauslösen und diese als
    wiederverwendbare Funktionen in anderen Komponenten zur Verfügung zu stellen kannst."
    logo="vuejs-intensiv-schulung"
    pattern="1"
    %}

    {% include_relative _schulung.html
    external_link="https://workshops.de/seminare-schulungen-kurse/html-css-intensiv"
    title="HTML & CSS"
    subtitle="Intensiv Schulung"
    description="In 3 Tagen HTML & CSS lernen. Auch als Inhouse-Schulung buchbar. Jetzt mehr erfahren!"
    logo="html-css-schulung"
    pattern="1"
    %}

    <!--{% include_relative _schulung.html
    permalink="nuxtjs-starter"
    title="Building Nuxt.js Applications"
    subtitle="Starter Schulung"
    description="Nuxt.js Beschreibung."
    logo="vue-typescript-schulung"
    pattern="1"
    %}-->

    <!--{% include_relative _schulung.html
    permalink="vuejs-performance"
    title="Performance Matters"
    subtitle="1-Tages-Workshop"
    description="Geschwindigkeit ist ein sehr wichtiger Erfolgsfaktor von Webapplikationen. Wir schauen welche großen Flaschenhälse existieren, um Mikrooptimierungen zu vermeiden. Wie wir ein Budget für unsere Vue.js-Applikation schon frühzeitig im Projekt etablieren und wie uns Werkzeuge und die neue Version 3 von Vue.js dabei unterstützen performante Web-Applikationen zu erstellen."
    logo="vue-typescript-schulung"
    pattern="1"
    %}-->

    <!--{% include_relative _schulung.html
    permalink="vuejs-state-management"
    title="State-Management"
    subtitle="1-Tages-Workshop"
    description="Wir wollen uns gemeinsam anschauen, wie Vuex in Vue-Anwendungen integriert werden kann und lernen mächtige Pattern zur Verwaltung von Zuständen. Im Rahmen des Workshops werden die drei State-Management-Bibliotheken Vuex, XState und Pinia vorgestellt, wobei die Funktionsweise von Vuex genauer unter die Lupe genommen wird."
    logo="vue-typescript-schulung"
    pattern="1"
    %}-->
</div>
