---
layout: base
title: Vue.js & JavaScript Intensiv-Schulung (3 Tage)
description: Lerne das beliebte Framework Vue.js in nur 3 Tagen! Informiere Dich und reservier Dir gleich einen der heißbegehrten Plätze.
permalink: /schulungen/vuejs-javascript/
---

<main role="main">
  {% include_relative vuejs-javascript/_00_header.html %}
  {% include_relative _01_clients_small.html %}
  {% include_relative vuejs-javascript/_05_benefits.html %}
  {% include_relative vuejs-javascript/_08_topic-overview.html %}
  {% include_relative vuejs-javascript/_20_testimonials.html %}
  {% include_relative vuejs-javascript/_10_agenda.html %}
  {% include_relative vuejs-javascript/_22_cost_savings.html %}
  {% include_relative vuejs-javascript/_50_ratings.html %}
  {% include_relative _includes/_trainers.html %}
  {% include_relative vuejs-javascript/_40_requirements.html %}
  {% include_relative vuejs-javascript/_45_included_benefits.html %}
  {% include_relative vuejs-javascript/_90_questions.html %}
  {% include_relative vuejs-javascript/_95_remote-workshops.html %}
  {% include_relative _99_booking.html
    topic="Vue.js & JavaScript"
    duration="3"
    slug="vuejs-javascript-intensiv-schulung"
    logo="vue-javascript-schulung"
    icon="💚"
    data_key="vuejs-javascript"
  %}
</main>