---
layout: base
title: VueJS & TypeScript Intensiv-Schulung (3 Tage)
description: Du möchtest VueJS in nur 3 Tagen lernen? Besuche unsere Seite und erfahre mehr über unsere Intensiv-Schulung!
permalink: /schulungen/vuejs/
---

<main role="main">
  {% include_relative vuejs/_00_header.html %}
  {% include_relative _01_clients_small.html %}
  {% include_relative vuejs/_05_benefits.html %}
  {% include_relative vuejs/_08_topic-overview.html %}
  {% include_relative vuejs/_20_testimonials.html %}
  {% include_relative vuejs/_10_agenda.html %}
  {% include_relative vuejs/_22_cost_savings.html %}
  <!--{% include_relative vuejs/_50_ratings.html %}-->
  {% include_relative vuejs/_25_trainers.html %}
  {% include_relative vuejs/_40_requirements.html %}
  {% include_relative vuejs/_45_included_benefits.html %}
  {% include_relative vuejs/_90_questions.html %}
  {% include_relative vuejs/_95_remote-workshops.html %}
  {% include_relative vuejs/_99_booking.html %}
</main>