---
layout: base
title: Vue.js & TypeScript Intensiv-Schulung (3 Tage)
description: In 3 Tagen Vue.js & TypeScript lernen - von den Expert:innen von VueJS.DE. Auch als Inhouse-Schulung oder Remote buchbar. Jetzt mehr erfahren!
permalink: /schulungen/vuejs-typescript/
---

<main role="main">
  {% include_relative vuejs-typescript/_00_header.html %}
  {% include_relative _01_clients_small.html %}
  {% include_relative vuejs-typescript/_05_benefits.html %}
  {% include_relative vuejs-typescript/_08_topic-overview.html %}
  {% include_relative vuejs-typescript/_20_testimonials.html %}
  {% include_relative vuejs-typescript/_10_agenda.html %}
  {% include_relative vuejs-typescript/_22_cost_savings.html %}
  <!--{% include_relative vuejs-typescript/_50_ratings.html %}-->
  {% include_relative vuejs-typescript/_25_trainers.html %}
  {% include_relative vuejs-typescript/_40_requirements.html %}
  {% include_relative vuejs-typescript/_45_included_benefits.html %}
  {% include_relative vuejs-typescript/_90_questions.html %}
  {% include_relative vuejs-typescript/_95_remote-workshops.html %}
  {% include_relative vuejs-typescript/_99_booking.html %}
</main>
