---
layout: base
title: Vue.js Composition API Intensiv-Schulung (1 Tag)
description: Lerne in nur einem Tag die neue Vue.js Composition API kennen. Natürlich durch unsere Vuejs.de Expert:innen – auch als Inhouse-Schulung oder Remote.
permalink: /schulungen/vuejs-composition-api/
---

<main role="main">
  {% include_relative vuejs-composition-api/_00_header.html %}
  {% include_relative _01_clients_small.html %}
  {% include_relative vuejs-composition-api/_05_benefits.html %}
  {% include_relative vuejs-composition-api/_08_topic-overview.html %}
  {% include_relative vuejs-composition-api/_20_testimonials.html %}
  {% include_relative vuejs-composition-api/_10_agenda.html %}
  {% include_relative vuejs-composition-api/_22_cost_savings.html %}
  <!--{% include_relative vuejs-composition-api/_50_ratings.html %}-->
  {% include_relative vuejs-composition-api/_25_trainers.html %}
  {% include_relative vuejs-composition-api/_40_requirements.html %}
  {% include_relative vuejs-composition-api/_45_included_benefits.html %}
  {% include_relative vuejs-composition-api/_90_questions.html %}
  {% include_relative vuejs-composition-api/_95_remote-workshops.html %}
  {% include_relative vuejs-composition-api/_99_booking.html %}
</main>
